@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
:root {
  --theme: #0788ff;
  --dark: #040c16;

  --content: #707476;
  --heading: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme: #0788ff;
    --dark: #040c16;
    --blue: #063560;
    --content: #707476;
    --heading: #fff;
  }
}

.nav-item:hover > div {
  width: 100%; /* Extend the width to 100% */
}

.gredient {
  background: rgb(7, 35, 59);
  background: linear-gradient(131deg, rgba(7, 35, 59, 1) 0%, rgba(4, 12, 22, 1) 100%);
}

.gredient2 {
  background: rgb(7, 45, 79);
  background: linear-gradient(131deg, rgba(7, 45, 79, 1) 0%, rgba(5, 26, 47, 1) 100%);
}
